$primary-color: #03c9a9;
$second-color: #017361;

* {
    box-sizing: border-box;
}

body {
    text-align: center;    
    background: linear-gradient(90deg, $second-color, $primary-color);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
} 