<form name="accountCtrl.loginForm" ng-controller="AccountController as accountCtrl" ng-submit="accountCtrl.loginForm.$valid && accountCtrl.login(accountCtrl.account)"
  novalidate>
  <div class="header-form">
    <h1>Welcome to NSpeaker</h1>
  </div>
  <div class="content-form">
    <div class="input-group">
      <input class="input" ng-model="accountCtrl.account.email" name="email" type="email" required>
      <label ng-class="{'label-up':accountCtrl.account.email.length}" class="input-label">E-mail</label>
      <span class="error-label" ng-show="accountCtrl.loginForm.$submitted && accountCtrl.loginForm.email.$error.required">E-mail is required.</span>
      <span class="error-label" ng-show="accountCtrl.loginForm.$submitted && accountCtrl.loginForm.email.$error.email">Invalid E-mail address.</span>
    </div>
    <div class="input-group">
      <input class="input" ng-model="accountCtrl.account.password" name="password" type="password" required>
      <label class="input-label">Password</label>
      <span class="error-label" ng-show="accountCtrl.loginForm.$submitted && accountCtrl.loginForm.password.$error.required">Password is required.</span>
    </div>
    <p class="error-message" ng-show="!(accountCtrl.loginForm.email.$dirty || accountCtrl.loginForm.password.$dirty) && accountCtrl.errorOnLogin">
      Sorry! We found a problem with your access. Please check your E-mail or Password.
    </p>
    <button class="button" type="submit">Login</button>
    <label class="label">Need an account?</label>
    <a class="link" ng-href="/account#!/signup">Sign up</a>
  </div>
</form>