<form name="loginForm" ng-controller="AccountController as accountCtrl" ng-submit="accountCtrl.login(accountCtrl.account)"
  novalidate>
  <div class="header-form">
    <h1>Welcome to NSpeaker</h1>
  </div>
  <div class="content-form">
    <div class="input-group">      
      <input class="input" ng-model="accountCtrl.account.email" type="email" required>
      <label ng-class="{'label-up':accountCtrl.account.email.length}" class="input-label">E-mail</label>
    </div>
    <div class="input-group">      
      <input class="input" ng-model="accountCtrl.account.password" type="password" required>
      <label class="input-label">Password</label>
    </div>
    <button class="button" type="submit" ng-disabled="loginForm.$invalid">Login</button>
    <label class="label">Need an account?</label>
    <a class="link" ng-href="/account#!/signup">Sign up</a>
  </div>
</form>