<div>
    <h3 class="title">Create your account for free now!</h3>
    <input type="text" placeholder="Name" required>    
    <input type="email" placeholder="E-mail" required>
    <select placeholder="Native Language">
        <option>Native Language</option>
        <option value="BR">Português</option>
        <option value="US">English</option>
    </select>
    <select>
        <option>Learning Language</option>
        <option value="BR">Português</option>
        <option value="US">English</option>
    </select>
    <input type="password" placeholder="Password" required>
    <button type="submit">Sign up</button>
    <h3 class="sub-title">or</h3>
    <button type="submit">Login</button>    
</div>