$primary-color: #017361;
$second-color: #a5a5a5;
$third-color: #fff;

$border-color: #d0c9c9;
$error-color: #a14949;

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #67b26f, #4ca2cd);
    color: $second-color;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;            
} 

h1 {
    margin: 0;
}