<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Native Speaker</title>
</head>

<body>
  <section>
    <h3>Create your account</h3>
    <form name="userCreate" novalidate>
      <input type="text" name="name" required />
      <input type="email" name="email" required />
      <select name="language" required>
        <option value="BR">Brazil</option>
        <option value="US">United States</option>
      </select>
      <button type="submit">Sign up</button>
    </form>
  </section>
</body>

</html>