.user-create {
    form {
        max-width: 600px;
        display: inline-block;
    }
    input,
    select,
    button {
        width: 90%;
        max-width: 500px;
        margin: 10px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 5px;
    }
}